<section>
    <table class="table table-condensed table-hover">
        <tr>
            <td><label>Actividad</label></td>
            <td><span data-bind="text: activity"></span> </td>
        </tr>
        <tr>
            <td><label>Inicio</label></td>
            <td><span data-bind="text: inicio"></span> </td>
        </tr>
        <tr>
            <td><label>Fin</label></td>
            <td><span data-bind="text: fin"></span> </td>
        </tr>
        <tr>
            <td><label>Duración</label></td>
            <td><span data-bind="text: duracion"></span> </td>
        </tr>
    </table>
</section>