<div class="messageBox" style="background-color: whitesmoke; min-width: 500px;">
    <div class="modal-header">
        <h3>Crea tu usuario</h3>
    </div>
    <form class="form-horizontal" id="signUp" role="form" data-bind="with: model">
        <div class="modal-body">
            <div class="form-group" data-bind="validate: name">
                <label for="username" class="col-lg-2 control-label">Nombre</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" placeholder="Nombre del usuario" data-bind="value: name"/>
                </div>
            </div>
            <div class="form-group" data-bind="validate: surname">
                <label for="surname" class="col-lg-2 control-label">Apellidos</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="surname" placeholder="Apellidos del usuario" data-bind="value: surname"/>
                </div>
            </div>
            <div class="form-group" data-bind="validate: username">
                <label for="username" class="col-lg-2 control-label">Usuario</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" placeholder="Usuario" data-bind="value: username"/>
                </div>
            </div>
            <div class="form-group" data-bind="validate: password">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" data-bind="value: password"/>
                </div>
            </div>
            <div class="form-group" data-bind="validate: password2">
                <label for="password2" class="col-lg-2 control-label">Repite password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password2" data-bind="value: password2"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" data-loading-text="Creando usuario..." data-bind="'click-loading': $parent.submit.bind($parent), css: {disabled: !isValid()}" >Nuevo</button>
            <button type='submit' class="btn btn-primary" data-bind="click:$parent.close.bind($parent)">Cerrar</button>                
        </div>
    </form>
</div>
    